<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="statCalculator" name="StatCalculator" schema="schema/statCalculator.exsd"/>
   <extension-point id="normalizer" name="Normalizer" schema="schema/normalizer.exsd"/>
   <extension-point id="annotationCreator" name="AnnotationCreator" schema="schema/annotationCreator.exsd"/>
   <extension
         point="eu.openanalytics.phaedra.calculation.statCalculator">
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.MinCalculator"
            name="min">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.MaxCalculator"
            name="max">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.MeanCalculator"
            name="mean">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.PctCvCalculator"
            name="cv">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.SbCalculator"
            name="sb">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.SnCalculator"
            name="sn">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.ZPrimeCalculator"
            name="zprime">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.MedianCalculator"
            name="median">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.StDevCalculator"
            name="stdev">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.SkewnessCalculator"
            name="skewness">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.KurtosisCalculator"
            name="kurtosis">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.CountCalculator"
            name="count">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.SumCalculator"
            name="sum">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.Quartile1Calculator"
            name="quartile1">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.Quartile3Calculator"
            name="quartile3">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.MadCalculator"
            name="mad">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.PMadCalculator"
            name="pmad">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.PercentileCalculator"
            name="percentile">
      </statCalculator>
      <statCalculator
            class="eu.openanalytics.phaedra.calculation.stat.impl.RobustZPrimeCalculator"
            name="robustzprime">
      </statCalculator>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.calculation.normalizer">
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctEffectNormalizer"
            id="\%EFFECT">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctEffectInverseNormalizer"
            id="\%EFFECT (100-x)">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctCtlMinNormalizer"
            id="\%CTLmin">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctCtlNormalizer"
            id="\%CTL">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.SigmaHighNormalizer"
            id="Sigma[H]">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.SigmaLowNormalizer"
            id="Sigma[L]">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctLowCtlNormalizer"
            id="\%CTL[L]">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctLowCtl0Normalizer"
            id="\%CTL[L=0]">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctInvLowCtl0Normalizer"
            id="\%CTL[INV L=0]">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctLowCtl100Normalizer"
            id="\%CTL[L=100]">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.CustomFormulaNormalizer"
            id="CUSTOM">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.MinusPctEffectNormalizer"
            id="\%EFFECT (-x)">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctHighCtl0Normalizer"
            id="\%CTL[H=0]">
      </normalizer>
      <normalizer
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctEffectMinus100Normalizer"
            id="\%EFFECT (x-100)">
      </normalizer>
      <normalizer
            id="PIN[Pos Mean]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctInhPosMeanNormalizer">
      </normalizer>
      <normalizer
            id="PIN[Pos Median]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctInhPosMedianNormalizer">
      </normalizer>
      <normalizer
            id="PIN[Neg Mean]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctInhNegMeanNormalizer">
      </normalizer>
      <normalizer
            id="PIN[Neg Median]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.PctInhNegMedianNormalizer">
      </normalizer>
      <normalizer
            id="ZScore[S/L]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.ZScoreSamplesNormalizer">
      </normalizer>
      <normalizer
            id="ZScore[L]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.ZScoreLowNormalizer">
      </normalizer>
      <normalizer
            id="ZScoreRob[S/L]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.ZScoreRobSamplesNormalizer">
      </normalizer>
      <normalizer
            id="ZScoreRob[L]"
            class="eu.openanalytics.phaedra.calculation.norm.impl.ZScoreRobLowNormalizer">
      </normalizer>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.calculation.annotationCreator">
      <annotationCreator
            class="eu.openanalytics.phaedra.calculation.annotation.DefaultAnnotationCreator">
      </annotationCreator>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.hook.hookPoint">
      <hookPoint
            id="eu.openanalytics.phaedra.calculation.calculationHookPoint">
      </hookPoint>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.pref.store.preferenceProvider">
      <preferenceProvider
            class="eu.openanalytics.phaedra.calculation.pref.PreferenceProvider">
      </preferenceProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.scripting.apiProvider">
      <apiProvider
            class="eu.openanalytics.phaedra.calculation.ScriptAPI">
      </apiProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.scripting.jep.jepScanner">
      <jepScanner
            class="eu.openanalytics.phaedra.calculation.jep.WellPropertyScanner"
            name="eu.openanalytics.phaedra.calculation.jep.WellPropertyScanner">
      </jepScanner>
      <jepScanner
            class="eu.openanalytics.phaedra.calculation.jep.SubWellFeatureScanner"
            name="eu.openanalytics.phaedra.calculation.jep.SubWellFeatureScanner">
      </jepScanner>
      <jepScanner
            class="eu.openanalytics.phaedra.calculation.jep.WellFeatureScanner"
            name="eu.openanalytics.phaedra.calculation.jep.WellFeatureScanner">
      </jepScanner>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.openanalytics.phaedra.calculation.pref.Prefs">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.openanalytics.phaedra.link.importer.preferences.PreferencePage"
            class="eu.openanalytics.phaedra.calculation.pref.PreferencePage"
            id="eu.openanalytics.phaedra.calculation.pref.PreferencePage"
            name="Annotations">
      </page>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.db.persistenceModel">
      <persistenceModel
            name="CalculationFormulae">
         <entityClass
               class="eu.openanalytics.phaedra.calculation.formula.model.CalculationFormula">
         </entityClass>
      </persistenceModel>
   </extension>

</plugin>
