<html>
<head>
	<style>
		body {
			font-family: Calibri;
			font-size: 90%;
		}
	</style>
</head>
<body>
	<p>Dear Phaedra user,</p>
	<p>You receive this mail because you are subscribed to Data Capture notifications for protocol <b>${protocolName}</b>.</p>
	<p>Readings have been captured from this location:<br/>
	<b>${taskSource}</b></p>
	<p>Note: the readings have not been linked to Phaedra plates yet. They are available as "New Readings".</p>
	<p>Best regards,<br/>
	The Phaedra team
</body>
</html>