<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
      		allowMultiple="true"
            class="eu.openanalytics.phaedra.ui.curve.details.CrcDetailsView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
            id="eu.openanalytics.phaedra.ui.curve.details.CrcDetailsView"
            name="Dose-Response Curve"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="eu.openanalytics.phaedra.ui.curve.crcgrid.CrcGridView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
            id="eu.openanalytics.phaedra.ui.curve.crcgrid.CrcGridView"
            name="CRC Grid"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.phaedra.ui.curve.grid.CompoundGridEditor"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
            id="eu.openanalytics.phaedra.ui.curve.grid.CompoundGridEditor"
            name="Compound Browser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
            id="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
            name="Browse Compounds">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.InvalidateCompound"
            id="eu.openanalytics.phaedra.ui.curve.cmd.InvalidateCompound"
            name="Invalidate Compound">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.ValidateCompound"
            id="eu.openanalytics.phaedra.ui.curve.cmd.ValidateCompound"
            name="Validate Compound">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.ResetCompoundValidation"
            id="eu.openanalytics.phaedra.ui.curve.cmd.ResetCompoundValidation"
            name="Reset Compound Validation">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.EditCurve"
            id="eu.openanalytics.phaedra.ui.curve.cmd.EditCurve"
            name="Edit Curve Settings">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
            id="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
            name="Show Dose-Response Curve">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.ShowCompoundInspector"
            id="eu.openanalytics.phaedra.ui.curve.cmd.ShowCompoundInspector"
            name="Show Compound Inspector">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.curve.cmd.ResetCurve"
            id="eu.openanalytics.phaedra.ui.curve.cmd.ResetCurve"
            name="Reset Curve Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.curve.compoundValidation">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ValidateCompound"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/flag_green.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.InvalidateCompound"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/flag_red.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ResetCompoundValidation"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/flag_white.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.ExperimentBrowser?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateBrowser?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateBrowser?after=wellMenu.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateBrowser?after=eu.openanalytics.phaedra.ui.plate.cmd.ShowWellImage">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateHeatmapBrowser?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.WellBrowser?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.WellBrowser?after=eu.openanalytics.phaedra.ui.plate.cmd.ShowWellImage">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.QuickHeatmap?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.QuickHeatmap?after=eu.openanalytics.phaedra.ui.plate.cmd.ShowWellImage">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.view.WellDataSetView?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.view.WellDataSetView?after=eu.openanalytics.phaedra.ui.plate.cmd.ShowWellImage">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.WellGridView?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.WellGridView?after=eu.openanalytics.phaedra.ui.plate.cmd.ShowWellImage">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.wellimage.WellImagesView?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.wellimage.WellImagesView?after=eu.openanalytics.phaedra.ui.plate.cmd.ShowImageSettings">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.curve.browser.CompoundBrowser?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.ui.plate.cmd.ShowQuickHeatmap"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/plate.png"
               label="Show Plate"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCompoundInspector"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/benzene.gif"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.curve.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.EditCurve"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/pencil.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ResetCurve"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/pencil_delete.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.curve.separator2"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/flag_green.png"
               id="eu.openanalytics.phaedra.ui.curve.compoundValidation"
               label="Validation">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.curve.grid.CompoundGridEditor?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.ui.plate.cmd.ShowQuickHeatmap"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/plate.png"
               label="Show Plate"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCompoundInspector"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/benzene.gif"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.plate.cmd.ShowWellImage"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/image.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="activeSelection.Well">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.curve.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.EditCurve"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/pencil.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ResetCurve"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/pencil_delete.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.curve.separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.plate.cmd.EditCompoundDescription"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/table_edit.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.curve.separator3"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/flag_green.png"
               id="eu.openanalytics.phaedra.ui.curve.compoundValidation"
               label="Validation">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=experiment.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=plate.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=wellMenu.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=eu.openanalytics.phaedra.ui.plate.cmd.ShowWellImage">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.ShowCrcDetails"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=compound.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=featureValueMenu.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=curveResult.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.inspector.plate.PlateInspector">
         <command
               commandId="eu.openanalytics.phaedra.ui.curve.cmd.BrowseCompounds"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curves.png"
               label="Browse Dose-Response Curves"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.pref.store.preferenceProvider">
      <preferenceProvider
            class="eu.openanalytics.phaedra.ui.curve.prefs.PreferenceProvider">
      </preferenceProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.openanalytics.phaedra.ui.curve.prefs.Prefs">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.openanalytics.phaedra.base.ui.charting.preferences.PreferencePage"
            class="eu.openanalytics.phaedra.ui.curve.prefs.PreferencePage"
            id="eu.openanalytics.phaedra.ui.curve.prefs.PreferencePage"
            name="Dose-Response Curve">
      </page>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.gridviewer.gridLayer">
      <gridLayer
            class="eu.openanalytics.phaedra.ui.curve.layer.CurveLayer"
            defaultEnabled="false"
            gridId="hca.singlewell.grid"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/curve.png"
            id="eu.openanalytics.phaedra.ui.curve.layer.CurveLayer"
            position="80">
      </gridLayer>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.icons.iconProvider">
      <iconProvider
            class="eu.openanalytics.phaedra.ui.curve.icons.CRCurveIconProvider"
            id="eu.openanalytics.phaedra.ui.curve.icons.CRCurveIconProvider">
      </iconProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.search.queryEditorSupport">
      <queryEditorSupport
            class="eu.openanalytics.phaedra.ui.curve.search.CRCurveQueryEditorSupport"
            id="eu.openanalytics.phaedra.ui.curve.search.CRCurveQueryEditorSupport">
      </queryEditorSupport>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.search.queryValuePanelFactory">
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.ui.curve.search.CurveKindQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.ui.curve.search.CurveKindQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.ui.curve.search.CurveMethodQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.ui.curve.search.CurveMethodQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.ui.curve.search.CurveModelQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.ui.curve.search.CurveModelQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.ui.curve.search.CurveTypeQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.ui.curve.search.CurveTypeQueryValuePanelFactory">
      </queryValuePanelFactory>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.editor.editorMapping">
      <editorMapping
            class="eu.openanalytics.phaedra.model.plate.vo.Compound"
            customFactory="eu.openanalytics.phaedra.ui.curve.grid.CompoundGridEditorFactory">
      </editorMapping>
   </extension>
</plugin>
