<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.openanalytics.phaedra.base.db.persistenceModel">
      <persistenceModel
            name="hca.screening.email">
         <entityClass
               class="eu.openanalytics.phaedra.base.email.model.DistributionList">
         </entityClass>
      </persistenceModel>
   </extension>

</plugin>
