<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.openanalytics.phaedra.ui.export.cmd.ExportPlateTableCmd"
            defaultHandler="eu.openanalytics.phaedra.ui.export.cmd.ExportPlateTableCmd"
            name="Export Plate List">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.export.cmd.ExportWellDataCmd"
            id="eu.openanalytics.phaedra.ui.export.cmd.StartExportWizardCmd"
            name="Export Well Data">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.export.cmd.ExportSubWellDataCmd"
            id="eu.openanalytics.phaedra.ui.export.subwell.cmd.ExportSubWellDataCmd"
            name="Export Subwell Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="eu.openanalytics.phaedra.ui.export.cmd.ExportPlateTableCmd"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png">
      </image>
      <image
            commandId="eu.openanalytics.phaedra.ui.export.cmd.StartExportWizardCmd"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png">
      </image>
      <image
            commandId="eu.openanalytics.phaedra.ui.export.subwell.cmd.ExportSubWellDataCmd"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.export.menu">
         <command
               commandId="eu.openanalytics.phaedra.ui.export.cmd.ExportPlateTableCmd"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.export.cmd.StartExportWizardCmd"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.export.subwell.cmd.ExportSubWellDataCmd"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.ExperimentBrowser?after=primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateBrowser?after=primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.WellBrowser?after=primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.QuickHeatmap?after=primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.view.WellDataSetView?after=primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.WellGridView?after=primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=experiment.primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=plate.primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=well.primaryAdditions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_excel.png"
               id="eu.openanalytics.phaedra.ui.export.menu"
               label="Export">
         </menu>
      </menuContribution>
   </extension>

</plugin>
