<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.phaedra.base.ui.volumerenderer.VolumeViewEditor"
            default="false"
            id="eu.openanalytics.phaedra.base.ui.volumerenderer.VolumeViewEditor"
            name="Volume Image Viewer">
      </editor>
   </extension>

</plugin>
