<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="fileServerType" name="FileServerType" schema="schema/fileServerType.exsd"/>
   <extension
         point="eu.openanalytics.phaedra.base.pref.store.preferenceProvider">
      <preferenceProvider
            class="eu.openanalytics.phaedra.base.fs.preferences.PreferenceProvider">
      </preferenceProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.openanalytics.phaedra.base.fs.preferences.Prefs">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.openanalytics.phaedra.base.environment.prefs.PreferencePage"
            class="eu.openanalytics.phaedra.base.fs.preferences.PreferencePage"
            id="eu.openanalytics.phaedra.base.fs.preferences.PreferencePage"
            name="File Server">
      </page>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.fs.fileServerType">
      <fileServerType
            class="eu.openanalytics.phaedra.base.fs.nio.NIOInterface"
            priority="100">
      </fileServerType>
      <fileServerType
            class="eu.openanalytics.phaedra.base.fs.smb.SMBInterface"
            priority="1">
      </fileServerType>
   </extension>

</plugin>
