<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
            id="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
            name="Browse Subwell Data">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.subwell.cmd.ShowVolumeImage"
            id="eu.openanalytics.phaedra.ui.subwell.cmd.ShowVolumeImage"
            name="Show Volume Image">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.subwell.wellimage.edit.OpenWellImageEditor"
            id="eu.openanalytics.phaedra.ui.subwell.wellimage.edit.OpenWellImageEditor"
            name="Open ROI Editor">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.subwell.cmd.ShowSubWellInspector"
            id="eu.openanalytics.phaedra.ui.subwell.cmd.ShowSubWellInspector"
            name="Subwell Inspector">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.chartMenu?after=chartAdditions">
         <separator
               name="subwellCharts"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
               label="Subwell 2D Scatter Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatter2DView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_3d.png"
               id="eu.openanalytics.phaedra.ui.subwell.showSubWell3DScatterPlot"
               label="Subwell 3D Scatter Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatter3DView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
               id="eu.openanalytics.phaedra.ui.subwell.showSubWell1DDensityPlot"
               label="Subwell 1D Density Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellDensityWeka1DView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_density.png"
               id="eu.openanalytics.phaedra.ui.subwell.showSubWell2DDensityPlot"
               label="Subwell 2D Density Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellDensity2DView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter_density.png"
               id="eu.openanalytics.phaedra.ui.subwell.showSubWell2DScatterDensityPlot"
               label="Subwell 2D Scatter-Density Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatterDensity2DView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_contour.png"
               id="eu.openanalytics.phaedra.ui.subwell.showSubWell2DContourPlot"
               label="Subwell 2D Contour Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellContour2DView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_bar.png"
               label="Subwell 1D Histogram"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellHistogram1DView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_line.png"
               id="eu.openanalytics.phaedra.ui.subwell.showSubWellParCoordPlot"
               label="Subwell Parallel Coordinates Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellParallelCoordinatesView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="activeSelection.Well">
                  </reference>
                  <reference
                        definitionId="activeSelection.Plate">
                  </reference>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.inspectorMenu">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.ShowSubWellInspector"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/tag_red.png"
               label="Cell Inspector"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="activeSelection.Subwell">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateBrowser?after=primaryAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.wellimage.edit.OpenWellImageEditor"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/paintbrush.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateBrowser?after=wellMenu.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.WellBrowser?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.QuickHeatmap?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.view.WellDataSetView?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.WellGridView?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.wellimage.WellImagesView?after=browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=wellMenu.browseAdditions">
         <command
               commandId="eu.openanalytics.phaedra.ui.subwell.cmd.BrowseSubWellData"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.subwell.SubWellDataView?after=additions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/magnifier.png"
               id="eu.openanalytics.phaedra.ui.plate.inspectorMenu"
               label="Inspectors">
         </menu>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               id="copyMenu"
               label="Copy">
            <separator
                  name="copyMenuAdditions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.subwell.SubWellDataSetView?after=additions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/magnifier.png"
               id="eu.openanalytics.phaedra.ui.plate.inspectorMenu"
               label="Inspectors">
         </menu>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               id="copyMenu"
               label="Copy">
            <separator
                  name="copyMenuAdditions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.subwell.wellimage.SubWellImagesView?after=additions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/magnifier.png"
               id="eu.openanalytics.phaedra.ui.plate.inspectorMenu"
               label="Inspectors">
         </menu>
         <separator
               name="primaryAdditions"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
               id="eu.openanalytics.phaedra.ui.plate.chartMenu"
               label="Charts">
         </menu>
         <separator
               name="eu.openanalytics.phaedra.ui.subwell.separator2"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               id="copyMenu"
               label="Copy">
            <separator
                  name="copyMenuAdditions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.plate.tablesandgrids"
            class="eu.openanalytics.phaedra.ui.subwell.SubWellDataView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
            id="eu.openanalytics.phaedra.ui.subwell.SubWellDataView"
            name="Subwell Data"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.plate.tablesandgrids"
            class="eu.openanalytics.phaedra.ui.subwell.SubWellDataSetView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/submarine.png"
            id="eu.openanalytics.phaedra.ui.subwell.SubWellDataSetView"
            name="Subwell Data Set"
            restorable="true">
      </view>
       <view
             allowMultiple="true"
             category="eu.openanalytics.phaedra.ui.subwell.chart"
             class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellHistogram1DView"
             icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_bar.png"
             id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellHistogram1DView"
             name="Subwell 1D Histogram"
             restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatter2DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatter2DView"
            name="Subwell 2D Scatter Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatter3DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_3d.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatter3DView"
            name="Subwell 3D Scatter Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellDensityWeka1DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellDensityWeka1DView"
            name="Subwell 1D Density Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellDensity2DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_density.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellDensity2DView"
            name="Subwell 2D Density Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellContour2DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_contour.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellContour2DView"
            name="Subwell 2D Contour Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatterDensity2DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter_density.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellScatterDensity2DView"
            name="Subwell 2D Scatter-Density Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellParallelCoordinatesView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_line.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.view.SubWellParallelCoordinatesView"
            name="Subwell Parallel Coordinates Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.subwell.chart"
            class="eu.openanalytics.phaedra.ui.subwell.grid.correlationmatrix.SubWellCorrelationMatrix"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/plate.png"
            id="eu.openanalytics.phaedra.ui.subwell.grid.correlationmatrix.SubWellCorrelationMatrix"
            name="Subwell Feature Correlation Matrix"
            restorable="true">
      </view>
      <category
            id="eu.openanalytics.phaedra.ui.subwell.chart"
            name="Subwell Charts">
      </category>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.plate.image"
            class="eu.openanalytics.phaedra.ui.subwell.wellimage.SubWellImagesView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/images_submarine.png"
            id="eu.openanalytics.phaedra.ui.subwell.wellimage.SubWellImagesView"
            name="Subwell Image Set"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.plate.inspector"
            class="eu.openanalytics.phaedra.ui.subwell.inspector.SubWellInspector"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/tag_red.png"
            id="eu.openanalytics.phaedra.ui.subwell.inspector.SubWellInspector"
            name="Cell Inspector"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.phaedra.ui.subwell.wellimage.edit.WellImageEditor"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/paintbrush.png"
            id="eu.openanalytics.phaedra.ui.subwell.wellimage.edit.WellImageEditor"
            name="ROI Editor">
      </editor>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.charting.chartLayer">
      <chartLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.layer.SubWellImageChartLayer"
            dimensions="2"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.layer.SubWellImageChartLayer"
            name="Cell Image">
      </chartLayer>
      <chartLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.layer.SubWellImage3DChartLayer"
            dimensions="3"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.layer.SubWellImage3DChartLayer"
            name="Cell Image 3D">
      </chartLayer>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.gridviewer.gridLayer">
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.grid.correlationmatrix.layer.ValueLayer"
            defaultEnabled="true"
            gridId="hca.correlationmatrix.grid.subwell"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/text_allcaps.png"
            id="eu.openanalytics.phaedra.ui.subwell.grid.correlationmatrix.layer.ValueLayer"
            position="10000">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.grid.correlationmatrix.layer.HeatmapLayer"
            defaultEnabled="true"
            gridId="hca.correlationmatrix.grid.subwell"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/plate.png"
            id="eu.openanalytics.phaedra.ui.subwell.grid.correlationmatrix.layer.HeatmapLayer"
            position="0">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellScatter2DLayer"
            defaultEnabled="false"
            gridId="hca.correlationmatrix.grid.subwell"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellScatter2DLayer"
            position="100">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellDensity2DLayer"
            defaultEnabled="false"
            gridId="hca.correlationmatrix.grid.subwell"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_density.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellDensity2DLayer"
            position="100">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellDensityWeka1DLayer"
            defaultEnabled="false"
            gridId="hca.correlationmatrix.grid.subwell"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellDensityWeka1DLayer"
            position="101">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellHistogram1DLayer"
            defaultEnabled="false"
            gridId="hca.correlationmatrix.grid.subwell"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_bar.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.correlationmatrix.SubWellHistogram1DLayer"
            position="100">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWell1DChartLayer"
            defaultEnabled="false"
            gridId="hca.singlewell.grid"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWell1DChartLayer"
            position="100">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWell2DChartLayer"
            defaultEnabled="false"
            gridId="hca.singlewell.grid"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWell2DChartLayer"
            position="100">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWell3DChartLayer"
            defaultEnabled="false"
            gridId="hca.singlewell.grid"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_3d.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWell3DChartLayer"
            position="100">
      </gridLayer>
      <gridLayer
            class="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWellParallelCoordChartLayer"
            defaultEnabled="false"
            gridId="hca.singlewell.grid"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_line.png"
            id="eu.openanalytics.phaedra.ui.subwell.chart.v2.grid.SubWellParallelCoordChartLayer"
            position="100">
      </gridLayer>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.imaging.overlay.imageOverlay">
      <imageOverlay
            class="eu.openanalytics.phaedra.ui.subwell.wellimage.SubwellOverlay"
            id="subwell.overlay">
      </imageOverlay>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.openanalytics.phaedra.ui.subwell.SubWellPerspective"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
            id="eu.openanalytics.phaedra.ui.subwell.SubWellPerspective"
            name="Sub-well Data">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeSelection.Subwell">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="eu.openanalytics.phaedra.model.subwell.SubWellSelection">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension point="eu.openanalytics.phaedra.base.pref.store.preferenceProvider">
      <preferenceProvider
            class="eu.openanalytics.phaedra.ui.subwell.preferences.PreferenceProvider">
      </preferenceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.openanalytics.phaedra.ui.wellimage.Image"
            class="eu.openanalytics.phaedra.ui.subwell.preferences.WellImageClassificationPreferencePage"
            id="eu.openanalytics.phaedra.ui.subwell.preferences.WellImageClassificationPreferencePage"
            name="Image Overlays">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.openanalytics.phaedra.ui.subwell.preferences.Prefs">
      </initializer>
   </extension>
</plugin>
