<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="stage" name="Stage" schema="schema/stage.exsd"/>
   <extension
         point="eu.openanalytics.phaedra.app.headless.headlessStartup">
      <startup
            class="eu.openanalytics.phaedra.base.seda.internal.AutoStarter">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.openanalytics.phaedra.base.seda.internal.AutoStarter">
      </startup>
   </extension>

</plugin>
