<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.openanalytics.phaedra.base.fs.fileServerType">
      <fileServerType
            class="eu.openanalytics.phaedra.base.fs.s3.S3Interface">
      </fileServerType>
   </extension>

</plugin>
