<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="breadcrumbProvider" name="Breadcrumb Provider" schema="schema/breadcrumbProvider.exsd"/>
   <extension-point id="protocolWizard" name="ProtocolWizard" schema="schema/protocolWizard.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocolClass"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocolClass"
            name="Edit Protocol Class">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.CreateProtocolClass"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.CreateProtocolClass"
            name="Create Protocol Class">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocolClass"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocolClass"
            name="Delete Protocol Class">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.CreateProtocol"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.CreateProtocol"
            name="Create Protocol">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocol"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocol"
            name="Edit Protocol">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocol"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocol"
            name="Delete Protocol">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.CloneProtocolClass"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.CloneProtocolClass"
            name="Clone Protocol Class">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.BrowseProtocolClasses"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.BrowseProtocolClasses"
            name="Browse Protocol Classes">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.BrowseProtocols"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.BrowseProtocols"
            name="Browse Protocols">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.ToggleBreadcrumbs"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.ToggleBreadcrumbs"
            name="Toggle Breadcrumbs">
          <state
                class="org.eclipse.ui.handlers.RegistryToggleState:true"
                id="org.eclipse.ui.commands.toggleState">
          </state>
       </command>
       <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.ToggleColumnEditing"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.ToggleColumnEditing"
            name="Toggle Column Editing">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.CopyQualifiedNames"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.CopyQualifiedNames"
            name="Copy Qualified Names">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.CopyURLs"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.CopyURLs"
            name="Copy URLs">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.protocol.cmd.StartProtocolWizard"
            id="eu.openanalytics.phaedra.ui.protocol.cmd.StartProtocolWizard"
            name="Create New Protocol">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeElementSelection.ProtocolClass.single">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <test
                     property="eu.openanalytics.phaedra.ui.navigator.model.elementDataClass"
                     value="eu.openanalytics.phaedra.model.protocol.vo.ProtocolClass">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="activeElementSelection.Protocol.single">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <test
                     property="eu.openanalytics.phaedra.ui.navigator.model.elementDataClass"
                     value="eu.openanalytics.phaedra.model.protocol.vo.Protocol">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="activeSelection.ProtocolClass.single">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="eu.openanalytics.phaedra.model.protocol.vo.ProtocolClass">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="activeSelection.Protocol.single">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="eu.openanalytics.phaedra.model.protocol.vo.Protocol">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="activeSelection.Feature.single">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="eu.openanalytics.phaedra.model.protocol.vo.Feature">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="eu.openanalytics.phaedra.base.ui.navigator.model.IElement"
            class="eu.openanalytics.phaedra.ui.protocol.navigator.ElementAdapterFactory">
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.ProtocolClass">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.Protocol">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.Feature">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.FeatureClass">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.SubWellFeature">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.ImageChannel">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.ImageSettings">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.WellType">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="eu.openanalytics.phaedra.ui.protocol.toolbar"
               label="UI Toolbar">
            <command
                  commandId="eu.openanalytics.phaedra.ui.protocol.cmd.ToggleBreadcrumbs"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/breadcrumb.png"
                  style="toggle">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.protocol.cmd.ToggleColumnEditing"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/table_edit.png"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.StartProtocolWizard"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_g_add.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:toolsMenu?after=additions">
         <command
               commandId="org.eclipse.ui.browser.openBrowser"
               id="eu.openanalytics.phaedra.ui.protocol.openBrowser"
               label="Open Web Browser"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocol.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.protocol.browser.ProtocolClassBrowser?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.BrowseProtocols"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct.png"
               label="Browse Protocols"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.ProtocolClass.single">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocolclass.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.CreateProtocol"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_g_add.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.ProtocolClass.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.CreateProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_add.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocolclass.separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_edit.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.ProtocolClass.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.CloneProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_go.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.ProtocolClass.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_delete.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.ProtocolClass.single">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocolclass.separator3"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               id="copyMenu"
               label="Copy">
            <separator
                  name="copyMenuAdditions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.protocol.browser.ProtocolBrowser?after=additions">
         <separator
               name="browseAdditions"
               visible="false">
         </separator>
         <separator
               name="eu.openanalytics.phaedra.ui.protocol.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocol"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_g_edit.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocol"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_g_delete.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocol.separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_edit.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_delete.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocol.separator3"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               id="copyMenu"
               label="Copy">
            <separator
                  name="copyMenuAdditions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=protocolClassMenu">
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.BrowseProtocols"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_open.png"
               label="Browse Protocols"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.ProtocolClass.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_open_edit.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.ProtocolClass.single">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocolclass.separator1"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               id="copyMenu"
               label="Copy">
            <separator
                  name="copyMenuAdditions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=protocolMenu">
         <separator
               name="browseAdditions"
               visible="false">
         </separator>
         <separator
               name="eu.openanalytics.phaedra.ui.protocol.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocol"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_edit.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocol"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_delete.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocol.separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_open_edit.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.DeleteProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_open_delete.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Protocol.single">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.protocol.separator3"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               id="copyMenu"
               label="Copy">
            <separator
                  name="copyMenuAdditions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=featureMenu">
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.EditProtocolClass"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_open_edit.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activeSelection.Feature.single">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:copyMenu?after=copyMenuAdditions">
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.copy.cmd.CopyItems"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.base.ui.util.copy.cmd.CopyView"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/camera.png"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="activePart.is.copyable">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.CopyQualifiedNames"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.protocol.cmd.CopyURLs"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/page_copy.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.phaedra.ui.protocol.editor.ProtocolClassEditor"
            default="false"
            id="eu.openanalytics.phaedra.ui.protocol.editor.ProtocolClassEditor"
            name="Protocol Class Editor">
      </editor>
      <editor
            class="eu.openanalytics.phaedra.ui.protocol.browser.ProtocolBrowser"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct_g.png"
            id="eu.openanalytics.phaedra.ui.protocol.browser.ProtocolBrowser"
            name="Protocol Browser">
      </editor>
      <editor
            class="eu.openanalytics.phaedra.ui.protocol.browser.ProtocolClassBrowser"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/struct.png"
            id="eu.openanalytics.phaedra.ui.protocol.browser.ProtocolClassBrowser"
            name="ProtocolClass Browser">
      </editor>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.icons.iconProvider">
      <iconProvider
            class="eu.openanalytics.phaedra.ui.protocol.icons.ProtocolClassIconProvider"
            id="eu.openanalytics.phaedra.ui.protocol.icons.ProtocolClassIconProvider">
      </iconProvider>
      <iconProvider
            class="eu.openanalytics.phaedra.ui.protocol.icons.ProtocolIconProvider"
            id="eu.openanalytics.phaedra.ui.protocol.icons.ProtocolIconProvider">
      </iconProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.search.queryEditorSupport">
      <queryEditorSupport
            class="eu.openanalytics.phaedra.ui.protocol.search.ProtocolClassQueryEditorSupport"
            id="eu.openanalytics.phaedra.ui.protocol.search.ProtocolClassQueryEditorSupport">
      </queryEditorSupport>
      <queryEditorSupport
            class="eu.openanalytics.phaedra.ui.protocol.search.ProtocolQueryEditorSupport"
            id="eu.openanalytics.phaedra.ui.protocol.search.ProtocolQueryEditorSupport">
      </queryEditorSupport>
      <queryEditorSupport
            class="eu.openanalytics.phaedra.ui.protocol.search.FeatureQueryEditorSupport"
            id="eu.openanalytics.phaedra.ui.protocol.search.FeatureQueryEditorSupport">
      </queryEditorSupport>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.search.queryValuePanelFactory">
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.ui.protocol.search.TeamQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.ui.protocol.search.TeamQueryValuePanelFactory">
      </queryValuePanelFactory>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.navigator.elementProvider">
      <elementProvider
            class="eu.openanalytics.phaedra.ui.protocol.navigator.ProtocolProvider">
      </elementProvider>
      <elementProvider
            class="eu.openanalytics.phaedra.ui.protocol.navigator.PhaedraProvider">
      </elementProvider>
      <elementProvider
            class="eu.openanalytics.phaedra.ui.protocol.navigator.ProtocolClassProvider">
      </elementProvider>
      <elementProvider
            class="eu.openanalytics.phaedra.ui.protocol.navigator.FavoritesProvider">
      </elementProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.navigator.elementHandler">
      <elementHandler
            class="eu.openanalytics.phaedra.ui.protocol.navigator.AllProtocolsHandler">
      </elementHandler>
      <elementHandler
            class="eu.openanalytics.phaedra.ui.protocol.navigator.TeamProtocolHandler">
      </elementHandler>
      <elementHandler
            class="eu.openanalytics.phaedra.ui.protocol.navigator.AllProtocolClassesHandler">
      </elementHandler>
      <elementHandler
            class="eu.openanalytics.phaedra.ui.protocol.navigator.FavoritesHandler">
      </elementHandler>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.colormethod.colorMethod">
      <colorMethod
            class="eu.openanalytics.phaedra.ui.protocol.colormethod.ClassificationColorMethod"
            id="eu.openanalytics.phaedra.ui.protocol.colormethod.ClassificationColorMethod"
            name="Classification Lookup">
      </colorMethod>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.editor.editorMapping">
      <editorMapping
            class="eu.openanalytics.phaedra.model.protocol.vo.ProtocolClass"
            editorId="eu.openanalytics.phaedra.ui.protocol.browser.ProtocolBrowser"
            multiItemEditorId="eu.openanalytics.phaedra.ui.protocol.browser.ProtocolClassBrowser">
      </editorMapping>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.calculation.annotationCreator">
      <annotationCreator
            class="eu.openanalytics.phaedra.ui.protocol.util.UIAnnotationCreator">
      </annotationCreator>
   </extension>
</plugin>
