<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.openanalytics.phaedra.base.ui.nattable.preferences.Prefs">
      </initializer>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.pref.store.preferenceProvider">
      <preferenceProvider
            class="eu.openanalytics.phaedra.base.ui.nattable.preferences.PreferenceProvider">
      </preferenceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="eu.openanalytics.phaedra.base.ui.nattable.preferences.NatTablePreferencePage"
            id="eu.openanalytics.phaedra.base.ui.nattable.preferences.NatTablePreferencePage"
            name="Advanced Table">
      </page>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.util.copyTextProvider">
      <copyTextProvider
            class="eu.openanalytics.phaedra.base.ui.nattable.copy.NatTableCopyTextProvider"
            name="eu.openanalytics.phaedra.base.ui.nattable.copy.NatTableCopyTextProvider">
      </copyTextProvider>
   </extension>

</plugin>
