<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.openanalytics.phaedra.base.hook.hook">
      <hook
            class="eu.openanalytics.phaedra.link.data.notification.EmailNotifier"
            hookPointId="eu.openanalytics.phaedra.link.data.dataHookPoint"
            priority="999">
      </hook>
   </extension>

</plugin>
