<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="scheduler" name="Scheduler" schema="schema/scheduler.exsd"/>
   <extension
         point="eu.openanalytics.phaedra.base.hook.hook">
      <hook
            class="eu.openanalytics.phaedra.base.scheduling.OnLoginHook"
            hookPointId="eu.openanalytics.phaedra.base.environment.loginHookPoint">
      </hook>
   </extension>

</plugin>
