<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.openanalytics.phaedra.base.http.server.httpService">
      <HttpService
            class="eu.openanalytics.phaedra.base.http.server.jetty.JettyHttpService"
            id="eu.openanalytics.phaedra.base.http.server.jetty.JettyHttpService">
      </HttpService>
   </extension>

</plugin>
