<config>
	<settings>
		<setting name="email.suffix">pheadra.io</setting>
		<!-- <setting name="email.smtp.host"></setting> -->
		<!-- <setting name="pwd.path">\\path\to\pwddir</setting> -->
	</settings>

	<environments>
		<environment name="Embedded">
			<fs><path>${workspace}/embedded.env</path></fs>
			<db><url>jdbc:h2:${workspace}/embedded.env/db</url></db>
		</environment>
		<!--
		<environment name="Example distributed environment">
			<fs>
				<path>\\path\to\fileshare</path>
				<user>Domain\ServiceAccount</user>
				<password source="pwd" id="ServiceAccount"/>
			</fs>
			<db>
				<url>jdbc:urlTo/dbInstance</url>
				<user>dbUser</user>
				<password source="pwd" id="dbUser"/>
			</db>
			<auth>
				<url>ldaps://url</url>
				<default.domain>MyDomain</default.domain>
				<group.prefix>GROUP_PREFIX_</group.prefix>
				<group.filter>OU=SomeUnit,DC=my,DC=company,DC=com</group.filter>
			</auth>
		</environment>
		-->
		
		<!-- Example for distributed environment using OIDC authentication:
				discovery.uri - issuer for OIDC discovery service (WebFinger)
						(uri without /.well-known/openid-configuration)
				client.id - client id of Phaedra desktop client, registered in the OP
				scopes - comma separated scope values with the scopes required to fetch the
						claims below in the userinfo
				username.claim - claim for the username of the user in Phaedra
						(e.g. preferred_username, unique_name)
				
		<environment name="Example distributed environment (OIDC)">
			<fs>
				<path>\\path\to\fileshare</path>
				<user>Domain\ServiceAccount</user>
				<password source="pwd" id="ServiceAccount"/>
			</fs>
			<db>
				<url>jdbc:urlTo/dbInstance</url>
				<user>dbUser</user>
				<password source="pwd" id="dbUser"/>
			</db>
			<auth>
				<method>oidc</method>
				<discovery.uri>https://...</discovery.uri>
				<client.id>phaedra-client</client.id>
				<scopes>profile,groups</scopes>
				<username.claim>preferred_username</username.claim>
				<groups.claim>groups</groups.claim>
			</auth>
		</environment>
		-->
	</environments>
</config>