<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="bootstrapper" name="Bootstrapper" schema="schema/bootstrapper.exsd"/>
   <extension
         point="eu.openanalytics.phaedra.base.ui.trafficlight.statusChecker">
      <statusChecker
            class="eu.openanalytics.phaedra.base.environment.statuscheck.FileServerChecker">
      </statusChecker>
      <statusChecker
            class="eu.openanalytics.phaedra.base.environment.statuscheck.DatabaseChecker">
      </statusChecker>
      <statusChecker
            class="eu.openanalytics.phaedra.base.environment.statuscheck.NetworkChecker">
      </statusChecker>
      <statusChecker
            class="eu.openanalytics.phaedra.base.environment.statuscheck.UpdateSiteChecker">
      </statusChecker>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.pref.store.preferenceProvider">
      <preferenceProvider
            class="eu.openanalytics.phaedra.base.environment.prefs.PreferenceProvider">
      </preferenceProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.hook.hookPoint">
      <hookPoint
            id="eu.openanalytics.phaedra.base.environment.loginHookPoint">
      </hookPoint>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.scripting.apiProvider">
      <apiProvider
            class="eu.openanalytics.phaedra.base.environment.ScriptAPI">
      </apiProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.openanalytics.phaedra.base.environment.prefs.Prefs">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.openanalytics.phaedra.base.environment.prefs.PreferencePage"
            id="eu.openanalytics.phaedra.base.environment.prefs.PreferencePage"
            name="Performance">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeUser.is.admin">
         <test
               property="eu.openanalytics.phaedra.base.environment.isAdmin">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.openanalytics.phaedra.base.environment.UserIsAdminTester"
            id="eu.openanalytics.phaedra.base.environment.UserIsAdminTester"
            namespace="eu.openanalytics.phaedra.base.environment"
            properties="isAdmin"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.openanalytics.phaedra.base.environment.login.LoginSplash"
            id="eu.openanalytics.phaedra.base.environment.login.LoginSplash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="eu.openanalytics.phaedra.product.platform"
            splashId="eu.openanalytics.phaedra.base.environment.login.LoginSplash">
      </splashHandlerProductBinding>
   </extension>
   <extension
         id="passwordutil"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="eu.openanalytics.phaedra.base.environment.config.PasswordUtil">
         </run>
      </application>
   </extension>

</plugin>
