<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="eu.openanalytics.phaedra.app"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.openanalytics.phaedra.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.openanalytics.phaedra.app.DefaultPerspective"
            icon="platform:/plugin/eu.openanalytics.phaedra.product/icons/phaedra16.png"
            id="eu.openanalytics.phaedra.app.DefaultPerspective"
            name="Default">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="eu.openanalytics.phaedra.app.views"
            name="Default Disabled Views">
      </activity>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="false"
            pattern="org\.eclipse\.debug.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="false"
            pattern="org\.eclipse\.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="false"
            pattern="org\.eclipse\.ui\.navigat.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="false"
            pattern="org\.eclipse\.team.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="false"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="false"
            pattern="org\.eclipse\.ui\.externaltools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="false"
            pattern="org\.eclipse\.ui\.edit\.text.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="true"
            pattern="org.eclipse.gef/org.eclipse.gef.ui.palette_view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views/org.eclipse.ui.views.PropertySheet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views/org.eclipse.ui.views.ContentOutline">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.cheatsheets/org.eclipse.ui.cheatsheets.views.CheatSheetView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.openanalytics.phaedra.app.views"
            isEqualityPattern="true"
            pattern="org.eclipse.ui/org.eclipse.ui.internal.introview">
      </activityPatternBinding>
   </extension>

</plugin>
