<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.openanalytics.phaedra.base.db.persistenceModel">
      <persistenceModel
            name="silo.model">
         <entityClass
               class="eu.openanalytics.phaedra.silo.vo.Silo">
         </entityClass>
         <entityClass
               class="eu.openanalytics.phaedra.silo.vo.SiloDataset">
         </entityClass>
         <entityClass
               class="eu.openanalytics.phaedra.silo.vo.SiloDatasetColumn">
         </entityClass>
      </persistenceModel>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="eu.openanalytics.phaedra.silo.vo.SiloDataset"
            class="eu.openanalytics.phaedra.silo.util.AdapterFactory">
         <adapter
               type="eu.openanalytics.phaedra.silo.vo.Silo">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.ProtocolClass">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.base.security.model.IOwnedObject">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.base.security.model.IOwnedPersonalObject">
         </adapter>
      </factory>
      <factory
            adaptableType="eu.openanalytics.phaedra.silo.vo.Silo"
            class="eu.openanalytics.phaedra.silo.util.AdapterFactory">
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.ProtocolClass">
         </adapter>
      </factory>
      <factory
            adaptableType="eu.openanalytics.phaedra.silo.vo.SiloDatasetColumn"
            class="eu.openanalytics.phaedra.silo.util.AdapterFactory">
         <adapter
               type="eu.openanalytics.phaedra.silo.vo.SiloDataset">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.silo.vo.Silo">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.model.protocol.vo.ProtocolClass">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.base.security.model.IOwnedObject">
         </adapter>
         <adapter
               type="eu.openanalytics.phaedra.base.security.model.IOwnedPersonalObject">
         </adapter>
      </factory>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.scripting.jep.jepScanner">
      <jepScanner
            class="eu.openanalytics.phaedra.silo.jep.SiloScanner"
            name="eu.openanalytics.phaedra.silo.jep.SiloAccessorScanner">
      </jepScanner>
      <jepScanner
            class="eu.openanalytics.phaedra.silo.jep.SubWellFeatureSiloScanner"
            name="eu.openanalytics.phaedra.silo.jep.SubWellFeatureSiloScanner">
      </jepScanner>
      <jepScanner
            class="eu.openanalytics.phaedra.silo.jep.WellFeatureSiloScanner"
            name="eu.openanalytics.phaedra.silo.jep.WellFeatureSiloScanner">
      </jepScanner>
      <jepScanner
            class="eu.openanalytics.phaedra.silo.jep.WellPropertySiloScanner"
            name="eu.openanalytics.phaedra.silo.jep.WellPropertySiloScanner">
      </jepScanner>
   </extension>
</plugin>
