<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="queryValuePanelFactory" name="QueryValuePanelFactory" schema="schema/queryValuePanelFactory.exsd"/>
   <extension-point id="queryEditorSupport" name="QueryEditorSupport" schema="schema/queryEditorSupport.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.openanalytics.phaedra.base.ui.search.cmd.OpenQueryEditorCmd"
            id="eu.openanalytics.phaedra.base.ui.search.cmd.OpenQueryEditorCmd"
            name="Create Query">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="eu.openanalytics.phaedra.base.ui.search.toolbar"
               label="Search">
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.search.cmd.OpenQueryEditorCmd"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/find.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:toolsMenu?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.base.ui.search.cmd.OpenQueryEditorCmd"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/find.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.base.ui.search.separator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.phaedra.base.ui.search.editor.QueryEditor"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/find.png"
            id="eu.openanalytics.phaedra.base.ui.search.editor.QueryEditor"
            name="Query Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.openanalytics.phaedra.base.ui.search.preferences.QueryPreferencePage"
            id="eu.openanalytics.phaedra.base.ui.search.preferences.QueryPreferencePage"
            name="Querying">
      </page>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.search.queryValuePanelFactory">
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.EmptyQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.EmptyQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.TextQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.TextQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.NaturalNumericQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.NaturalNumericQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.DateTimeQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.DateTimeQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.RealNumericQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.RealNumericQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.DateTimeRangeQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.DateTimeRangeQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.NaturalNumericRangeQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.NaturalNumericRangeQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.RealNumericRangeQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.RealNumericRangeQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.TextsQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.TextsQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.NaturalNumericsQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.NaturalNumericsQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.RealNumericsQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.RealNumericsQueryValuePanelFactory">
      </queryValuePanelFactory>
      <queryValuePanelFactory
            class="eu.openanalytics.phaedra.base.ui.search.internal.DateOffsetQueryValuePanelFactory"
            id="eu.openanalytics.phaedra.base.ui.search.internal.DateOffsetQueryValuePanelFactory">
      </queryValuePanelFactory>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.navigator.elementProvider">
      <elementProvider
            class="eu.openanalytics.phaedra.base.ui.search.navigator.QueryProvider">
      </elementProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.navigator.elementHandler">
      <elementHandler
            class="eu.openanalytics.phaedra.base.ui.search.navigator.QueryHandler">
      </elementHandler>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.editor.editorMapping">
      <editorMapping
            class="eu.openanalytics.phaedra.base.search.model.QueryModel"
            editorId="eu.openanalytics.phaedra.base.ui.search.editor.QueryEditor">
      </editorMapping>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.icons.iconProvider">
      <iconProvider
            class="eu.openanalytics.phaedra.base.ui.search.QueryModelIconProvider"
            id="eu.openanalytics.phaedra.base.ui.search.QueryModelIconProvider">
      </iconProvider>
   </extension>

</plugin>
