<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.openanalytics.phaedra.ui.link.platedef.template.PlateTemplateBrowser"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_plate.png"
            id="eu.openanalytics.phaedra.ui.link.platedef.template.PlateTemplateBrowser"
            name="Plate Template Browser"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.phaedra.ui.link.platedef.template.PlateTemplateEditor"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/plate.png"
            id="eu.openanalytics.phaedra.ui.link.platedef.template.PlateTemplateEditor"
            name="Plate Template Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.link.platedef.cmd.BrowsePlateTemplates"
            id="eu.openanalytics.phaedra.ui.link.platedef.cmd.BrowsePlateTemplates"
            name="Plate Template Browser">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.link.platedef.cmd.CreatePlateTemplate"
            id="eu.openanalytics.phaedra.ui.link.platedef.cmd.CreatePlateTemplate"
            name="Create New Plate Template">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.link.platedef.cmd.LinkPlates"
            id="eu.openanalytics.phaedra.ui.link.platedef.cmd.LinkPlates"
            name="Link Plate Definitions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:toolsMenu?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.BrowsePlateTemplates"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_plate.png"
               style="push">
         </command>
         <command
               commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.CreatePlateTemplate"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/plate_add.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.link.platedef.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="eu.openanalytics.phaedra.ui.link.platedef.toolbar"
               label="Plate Templates">
            <command
                  commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.BrowsePlateTemplates"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/folder_plate.png"
                  style="push">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.CreatePlateTemplate"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/plate_add.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.ExperimentBrowser?after=eu.openanalytics.phaedra.ui.plate.cmd.RecalculatePlates">
         <command
               commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.LinkPlates"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/barcode.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.PlateBrowser?after=eu.openanalytics.phaedra.ui.plate.cmd.RecalculatePlates">
         <command
               commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.LinkPlates"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/barcode.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.browser.WellBrowser?after=eu.openanalytics.phaedra.ui.plate.cmd.RecalculatePlates">
         <command
               commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.LinkPlates"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/barcode.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.plate.grid.QuickHeatmap?after=eu.openanalytics.phaedra.ui.plate.cmd.RecalculatePlates">
         <command
               commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.LinkPlates"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/barcode.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.search.editor.QueryEditor?after=eu.openanalytics.phaedra.ui.plate.cmd.RecalculatePlates">
         <command
               commandId="eu.openanalytics.phaedra.ui.link.platedef.cmd.LinkPlates"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/barcode.png"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
