<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.openanalytics.phaedra.link.platedef.plateDefinitionSource" name="PlateLinkSource" schema="schema/plateDefinitionSource.exsd"/>
   <extension
         point="eu.openanalytics.phaedra.link.platedef.plateDefinitionSource">
      <plateDefinitionSource
            class="eu.openanalytics.phaedra.link.platedef.template.link.TemplateLinkSource"
            id="Layout Template">
      </plateDefinitionSource>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.hook.hookPoint">
      <hookPoint
            id="eu.openanalytics.phaedra.link.platedef.platedefHookPoint">
      </hookPoint>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.hook.hook">
      <hook
            class="eu.openanalytics.phaedra.link.platedef.hook.PostLinkSaltformRetriever"
            hookPointId="eu.openanalytics.phaedra.link.platedef.platedefHookPoint">
      </hook>
   </extension>

</plugin>
