<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="oidc">
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            httpcontextId="oidc"
            alias="/auth"
            class="eu.openanalytics.phaedra.base.internal.security.oidc.AuthServlet">
      </servlet>
   </extension>
   
</plugin>
