<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="importWizard" name="ImportWizard" schema="schema/importWizard.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.link.importer.wizard.StartImportWizardCmd"
            id="eu.openanalytics.phaedra.ui.link.importer.wizard.StartImportWizardCmd"
            name="Import Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:toolsMenu?after=wizards">
         <command
               commandId="eu.openanalytics.phaedra.ui.link.importer.wizard.StartImportWizardCmd"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/cd_go.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="eu.openanalytics.phaedra.ui.link.importer.toolbar">
            <command
                  commandId="eu.openanalytics.phaedra.ui.link.importer.wizard.StartImportWizardCmd"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/cd_go.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.openanalytics.phaedra.ui.link.importer.import"
            name="Import">
      </category>
      <view
            category="eu.openanalytics.phaedra.ui.link.importer.import"
            class="eu.openanalytics.phaedra.ui.link.importer.view.DataCaptureLogView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/control_play.png"
            id="eu.openanalytics.phaedra.ui.link.importer.view.DataCaptureLogView"
            name="Data Capture Log"
            restorable="true">
      </view>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.ui.link.importer.importWizard">
      <importWizard
            class="eu.openanalytics.phaedra.ui.link.importer.wizard.GenericImportWizard"
            description="Import data into any protocol."
            name="Generic Importer">
      </importWizard>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.datacapture.missingFeaturesHandler">
      <missingFeaturesHandler
            class="eu.openanalytics.phaedra.ui.link.importer.addfeature.UIMissingFeaturesHandler">
      </missingFeaturesHandler>
   </extension>

</plugin>
