<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.CreateSilo"
            id="eu.openanalytics.phaedra.ui.silo.cmd.CreateSilo"
            name="Create New Silo">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.CreateSiloGroup"
            id="eu.openanalytics.phaedra.ui.silo.cmd.CreateSiloGroup"
            name="Create New Silo Group">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.AddColumn"
            id="eu.openanalytics.phaedra.ui.silo.cmd.AddColumn"
            name="Add Column">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.AddJEPColumn"
            id="eu.openanalytics.phaedra.ui.silo.cmd.AddJEPColumn"
            name="Add JEP Column">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.DeleteColumns"
            id="eu.openanalytics.phaedra.ui.silo.cmd.DeleteColumns"
            name="Delete Column(s)">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.PasteWellsAsNewGroup"
            id="eu.openanalytics.phaedra.ui.silo.cmd.PasteWellsAsNewGroup"
            name="Paste Wells as New Group">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.PasteWells"
            id="eu.openanalytics.phaedra.ui.silo.cmd.PasteWells"
            name="Paste Wells">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.PasteWellsAdvanced"
            id="eu.openanalytics.phaedra.ui.silo.cmd.PasteWellsAdvanced"
            name="Paste Wells Advanced">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.DeleteGroups"
            id="eu.openanalytics.phaedra.ui.silo.cmd.DeleteGroups"
            name="Delete Group(s)">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItemsAsNewGroup"
            id="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItemsAsNewGroup"
            name="Paste Subwell Items as New Group">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItems"
            id="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItems"
            name="Paste Subwell Items">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItemsAdvanced"
            id="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItemsAdvanced"
            name="Paste Subwell Items Advanced">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.DeleteRows"
            id="eu.openanalytics.phaedra.ui.silo.cmd.DeleteRows"
            name="Delete Row(s)">
      </command>
      <command
            defaultHandler="eu.openanalytics.phaedra.ui.silo.cmd.DownloadHDF5FileCommand"
            id="eu.openanalytics.phaedra.ui.silo.cmd.DownloadHDF5FileCommand"
            name="Download as HDF5 File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.protocol.browser.ProtocolClassBrowser">
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.CreateSilo"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/silo_add.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.navigator.Navigator?after=siloChartMenu">
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.DownloadHDF5FileCommand"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/drive_disk.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.silo.separator2"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
               label="Charts">
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
                  label="Silo 2D Scatter Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter2DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_3d.png"
                  label="Silo 3D Scatter Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter3DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_density.png"
                  label="Silo 2D Density Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensity2DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
                  label="Silo 1D Density Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensityWeka1DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_bar.png"
                  label="Silo 1D Histogram Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloHistogram1DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_line.png"
                  label="Silo Parallel Coordinates Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloParallelCoordinatesView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.silo.editor.WellSiloEditor.treeViewer?after=additions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
               label="Paste Wells">
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.PasteWells"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
                  style="push">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.PasteWellsAsNewGroup"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
                  style="push">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.PasteWellsAdvanced"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
                  style="push">
            </command>
         </menu>
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.DeleteGroups"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_delete.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.silo.separator1"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_add.png"
               label="Add Column">
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.AddColumn"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_add.png"
                  style="push">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.AddJEPColumn"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_add.png"
                  style="push">
            </command>
         </menu>
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.DeleteColumns"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_delete.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.silo.separator2"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
               label="Charts">
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
                  label="Silo 2D Scatter Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter2DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_3d.png"
                  label="Silo 3D Scatter Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter3DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_density.png"
                  label="Silo 2D Density Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensity2DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
                  label="Silo 1D Density Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensityWeka1DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_bar.png"
                  label="Silo 1D Histogram Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloHistogram1DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_line.png"
                  label="Silo Parallel Coordinates Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloParallelCoordinatesView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.silo.editor.SubWellSiloEditor.treeViewer?after=additions">
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
               label="Paste Subwell Items">
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItems"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
                  style="push">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItemsAsNewGroup"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
                  style="push">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.PasteSWItemsAdvanced"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_add.png"
                  style="push">
            </command>
         </menu>
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.DeleteGroups"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_delete.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.silo.separator3"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_add.png"
               label="Add Column">
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.AddColumn"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_add.png"
                  style="push">
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.ui.silo.cmd.AddJEPColumn"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_add.png"
                  style="push">
            </command>
         </menu>
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.DeleteColumns"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_col_delete.png"
               style="push">
         </command>
         <separator
               name="eu.openanalytics.phaedra.ui.silo.separator4"
               visible="true">
         </separator>
         <menu
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
               label="Charts">
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
                  label="Silo 2D Scatter Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter2DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_3d.png"
                  label="Silo 3D Scatter Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter3DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_density.png"
                  label="Silo 2D Density Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensity2DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
                  label="Silo 1D Density Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensityWeka1DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_bar.png"
                  label="Silo 1D Histogram Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloHistogram1DView">
               </parameter>
            </command>
            <command
                  commandId="eu.openanalytics.phaedra.base.ui.util.showSecondaryView"
                  icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_line.png"
                  label="Silo Parallel Coordinates Plot"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="eu.openanalytics.phaedra.ui.silo.chart.view.SiloParallelCoordinatesView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.silo.editor.WellSiloEditor?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.DeleteRows"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_delete.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.openanalytics.phaedra.ui.silo.editor.SubWellSiloEditor?after=additions">
         <command
               commandId="eu.openanalytics.phaedra.ui.silo.cmd.DeleteRows"
               icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/dataframe_delete.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.openanalytics.phaedra.ui.silo.chart"
            name="Silo Charts">
      </category>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.silo.chart"
            class="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter2DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_scatter.png"
            id="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter2DView"
            name="Silo 2D Scatter Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.silo.chart"
            class="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter3DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_3d.png"
            id="eu.openanalytics.phaedra.ui.silo.chart.view.SiloScatter3DView"
            name="Silo 3D Scatter Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.silo.chart"
            class="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensity2DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_density.png"
            id="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensity2DView"
            name="Silo 2D Density Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.silo.chart"
            class="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensityWeka1DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_curve.png"
            id="eu.openanalytics.phaedra.ui.silo.chart.view.SiloDensityWeka1DView"
            name="Silo 1D Density Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.silo.chart"
            class="eu.openanalytics.phaedra.ui.silo.chart.view.SiloHistogram1DView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_bar.png"
            id="eu.openanalytics.phaedra.ui.silo.chart.view.SiloHistogram1DView"
            name="Silo 1D Histogram Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="eu.openanalytics.phaedra.ui.silo.chart"
            class="eu.openanalytics.phaedra.ui.silo.chart.view.SiloParallelCoordinatesView"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/chart_line.png"
            id="eu.openanalytics.phaedra.ui.silo.chart.view.SiloParallelCoordinatesView"
            name="Silo Parallel Coordinates Plot"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.phaedra.ui.silo.editor.WellSiloEditor"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/silo_well.png"
            id="eu.openanalytics.phaedra.ui.silo.editor.WellSiloEditor"
            name="Well Silo Editor">
      </editor>
      <editor
            class="eu.openanalytics.phaedra.ui.silo.editor.SubWellSiloEditor"
            default="false"
            icon="platform:/plugin/eu.openanalytics.phaedra.base.ui.icons/icons/silo_subwell.png"
            id="eu.openanalytics.phaedra.ui.silo.editor.SubWellSiloEditor"
            name="Subwell Silo Editor">
      </editor>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.icons.iconProvider">
      <iconProvider
            class="eu.openanalytics.phaedra.ui.silo.util.SiloIconProvider"
            id="eu.openanalytics.phaedra.ui.silo.util.SiloIconProvider">
      </iconProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.charting.chartLayer">
      <chartLayer
            class="eu.openanalytics.phaedra.ui.silo.chart.tooltips.SiloImageChartLayer"
            dimensions="2"
            id="eu.openanalytics.phaedra.ui.silo.chart.tooltips.SiloImageChartLayer"
            name="Image"></chartLayer>
      <chartLayer
            class="eu.openanalytics.phaedra.ui.silo.chart.tooltips.SiloImage3DChartLayer"
            dimensions="3"
            id="eu.openanalytics.phaedra.ui.silo.chart.tooltips.SiloImage3DChartLayer"
            name="Image 3D">
      </chartLayer>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.navigator.elementProvider">
      <elementProvider
            class="eu.openanalytics.phaedra.ui.silo.navigator.SiloProvider">
      </elementProvider>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.navigator.elementHandler">
      <elementHandler
            class="eu.openanalytics.phaedra.ui.silo.navigator.SilosHandler">
      </elementHandler>
      <elementHandler
            class="eu.openanalytics.phaedra.ui.silo.navigator.SiloHandler">
      </elementHandler>
      <elementHandler
            class="eu.openanalytics.phaedra.ui.silo.navigator.GroupHandler">
      </elementHandler>
   </extension>
   <extension
         point="eu.openanalytics.phaedra.base.ui.editor.editorMapping">
      <editorMapping
            class="eu.openanalytics.phaedra.silo.vo.Silo"
            customFactory="eu.openanalytics.phaedra.ui.silo.editor.SiloEditorFactory">
      </editorMapping>
   </extension>

</plugin>
