<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="jepScanner" name="JepScanner" schema="schema/jepScanner.exsd"/>
   <extension
         point="eu.openanalytics.phaedra.base.scripting.scriptEngine">
      <scriptEngine
            class="eu.openanalytics.phaedra.base.scripting.jep.JEPScriptEngine"
            id="jep"
            label="JEP">
      </scriptEngine>
   </extension>

</plugin>
